doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(property='twitter:image' content='https://midolotto.com/wp-content/uploads/2015/12/phone-nohand.png')
  body
    block content
